<a href="https://colab.research.google.com/github/Vedant-Trivedi/Experiment-4/blob/main/EXP4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Study of Set in Python
##Vedant Trivedi / 25070123121

In [ ]:
thisset={"apple","banana","cherry"}
print(thisset)

{'cherry', 'banana', 'apple'}

In [ ]:
thisset={"apple","banana","cherry"}
print(thisset[1])

# indexing is not possible

TypeError: 'set' object is not subscriptable

In [ ]:
thisset={"apple","banana","cherry","apple"}
print(thisset)

In [ ]:
thisset={"apple","banana","cherry",True,1,2}
print(thisset)

#1 is treated as digital electronic's true or 1 vice versa for false

{True, 2, 'banana', 'cherry', 'apple'}

In [ ]:
thisset={"apple","banana","cherry"}
print("banana" in thisset)
print("grapes" in thisset)

True
False

In [ ]:
thisset={"apple","banana","cherry"}
thisset.add("orange")
print(thisset)

{'cherry', 'banana', 'apple', 'orange'}

In [ ]:
thisset={"apple","banana","cherry"}
thisset.add(2)
print(thisset)

{2, 'cherry', 'banana', 'apple'}

In [ ]:
thisset={"apple","banana","cherry"}
thisset.remove("banana")
print(thisset)

{'cherry', 'apple'}

In [ ]:
A={1,2,3,4}
B={3,4,5,6}
print('Union:',A.union(B))
print('Intersection:',A.intersection(B))
print('Difference A-B:',A.difference(B))
print('Difference B-A:',B.difference(A))
print('Symmetric Difference:',A.symmetric_difference(B))

Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}
Difference A-B: {1, 2}
Difference B-A: {5, 6}
Symmetric Difference: {1, 2, 5, 6}

In [ ]:
A={1,2,3,4}
B={3,4,5,6}
print('Union:',A|B)
print('Intersection:',A&B)
print('Difference A-B:',A-B)
print('Difference B-A:',B-A)
print('Symmetric Difference:',A^B)

Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}
Difference A-B: {1, 2}
Difference B-A: {5, 6}
Symmetric Difference: {1, 2, 5, 6}

In [ ]:
#FrozenSet
X=frozenset({"apple","banana","cherry"})
print(X)
print(type(X))

frozenset({'cherry', 'banana', 'apple'})
<class 'frozenset'>

Adding or removing elements from frozen set is not possible

In [ ]:
'''Problem Statement 1: Unique Event Participants
A college event has a list of students who registered multiple times by mistake
Write a Program using set to store participant names and display only unique participants'''

participants=["Alex","Maya","Daniel","Sofia","Liam","Alex"]
uniqueparticipants= set(participants)
print('Unique Participants:',uniqueparticipants)

Unique Participants: {'Daniel', 'Liam', 'Sofia', 'Alex', 'Maya'}

In [ ]:
'''Problem Statement 2: Intersection'''
Student1={'physics','python','chemistry'}
Student2={'biology','chemistry','python'}
Student3={'biology','maths','python'}
print('Common Subject for all Students:',Student1 & Student2 & Student3)

Common Subject for all Students: {'python'}

In [ ]:
'''Problem Statement 3: Intersection and Symmettric Difference'''
CricketCl={"Alex","Maya","Daniel","Sofia","Liam"}
FootballCl={"Alex","Sofia","Liam","Olivia","Oliver"}
print('Students who play both Cricket and Football:',CricketCl & FootballCl)
print('Students who play either Cricket or Football but not both',CricketCl ^ FootballCl)

Students who play both Cricket and Football: {'Sofia', 'Liam', 'Alex'}
Students who play either Cricket or Football but not both {'Maya', 'Daniel', 'Olivia', 'Oliver'}

In [ ]:
'''Problem Statement 4: Absent Students'''
AllStudents={'Alex','Maya','Daniel','Sofia','Liam','Olivia','Oliver'}
PresentStudents={'Alex','Maya','Daniel','Sofia','Liam'}
print('Absent Students:',AllStudents - PresentStudents)

Absent Students: {'Oliver', 'Olivia'}

In [ ]:
'''Problem Statement 5: Remove Discontinued Subjects using Discard/Remove'''
course={"ETC101","ETC102","ETC103"}
course.remove("ETC102")
print(course)

{'ETC101', 'ETC103'}

In [ ]:
'''Problem Statement 5: Remove Discontinued Subjects using Discard/Remove'''
course={"ETC101","ETC102","ETC103"}
course.discard("ETC102")
print(course)

{'ETC101', 'ETC103'}